*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
allure-report/export/influxDbData.txt
allure-report/export/mail.html
allure-report/export/prometheusData.txt
allure-report/favicon.ico
allure-report/history/categories-trend.json
allure-report/history/duration-trend.json
allure-report/history/history-trend.json
allure-report/history/history.json
allure-report/history/retry-trend.json
allure-report/index.html
allure-report/styles.css
allure-report/widgets/categories-trend.json
allure-report/widgets/categories.json
allure-report/widgets/duration-trend.json
allure-report/widgets/duration.json
allure-report/widgets/environment.json
allure-report/widgets/executors.json
allure-report/widgets/history-trend.json
allure-report/widgets/launch.json
allure-report/widgets/retry-trend.json
allure-report/widgets/severity.json
allure-report/widgets/status-chart.json
allure-report/widgets/suites.json
allure-report/widgets/summary.json
allure-results/fc8e0d57-307c-430d-8e57-b8b51b7cce19-result.json
